.container {
    background-color: #DEDEDE;
    width: 450px;
    height: 595px;
}

.red {
    background-color: red;
    width: 150px;
    height: 150px;
}

.yellow {
    background-color: yellow;
    width: 150px;
    height: 150px;
}

.green {
    background-color: greenyellow;
    width: 150px;
    height: 150px;
}