/* * {
    border: 1px solid black;
} */

/* Import Required Fonts */


@font-face {
    font-family: "Berlin Sans FB";
    src: url("./../Assets/Fonts/BRLNSR.TTF") format("truetype");
}

@font-face {
    font-family: "Gothic";
    src: url("./../Assets/Fonts/GOTHIC.TTF") format("truetype");
}

@font-face {
    font-family: "hand";
    src: url("./../Assets/Fonts/BRADHITC.TTF") format("truetype");
}

.header {
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    z-index: 99;
    color: black;
}

.title {
    font-family: 'Berlin Sans FB';
    font-size: 42px;
    font-weight: 10;
}

.LocationPicker {
    display: inline-block;
    margin-top: 10px;
    font-family: 'Berlin Sans FB';
    font-size: 25px;
}

.locations {
    font-family: 'Berlin Sans FB';
}
