/* * {
    border: 1px solid black;
} */

/* Import Required Fonts */


@font-face {
    font-family: "Berlin Sans FB";
    src: url("./../Assets/Fonts/BRLNSR.TTF") format("truetype");
}

@font-face {
    font-family: "Gothic";
    src: url("./../Assets/Fonts/GOTHIC.TTF") format("truetype");
}

@font-face {
    font-family: "hand";
    src: url("./../Assets/Fonts/BRADHITC.TTF") format("truetype");
}


.header {
    position: absolute;
    top: -10px;
    left: 0px;
    right: 0px;
    height: 50px;
    z-index: 99;
    color: white;
    display: inline-block;
}

.title {
    font-family: 'Berlin Sans FB';
    font-size: 42px;
    margin-left: 45px;
    float: left;
    font-weight: 10;
}

.LocationPicker {
    display: inline-block;
    margin-left: 20px;
    margin-top: 35px;
    font-family: 'Berlin Sans FB';
    font-size: 25px;
}

.locations {
    font-family: 'Berlin Sans FB';
}
